 
  $main-color: rgba(149, 225, 211, 1);
  $main-add-color: rgba(243, 129, 129, 1);
  $title-color: rgba(51, 51, 51, 1);
  $text-color: rgba(182, 182, 182, 1);
  $button-text-color: rgba(255, 255, 255, 1);
  $main-font: "Montserrat", sans-serif;
  $second-font: "Roboto", sans-serif;
  $subtitle-font: "Kaushan Script", cursive;

