:root {
  --main-color:rgba(149, 225, 211, 1);
  --main-add-color:rgba(243, 129, 129, 1);
  --title-color:rgba(51, 51, 51, 1);
  --text-color:rgba(182, 182, 182, 1);
  --button-text-color:rgba(255, 255, 255, 1);
  --main-font:"Montserrat", sans-serif;
  --second-font:"Roboto", sans-serif;
  --subtitle-font:"Kaushan Script", cursive;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: var(--main-font) ;
  color: var(--text-color);
  font-size: 15px;
}



.container {
  margin: 0 auto;
  width: 1200px;
}

.header{
  padding: 17px 0 12px 0;
  position: relative;
}

.header-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
    gap: 55px;
  /* gap: 632px; */
}


.header-logo {
  color: var(--main-color);
  font-weight: 700;
  font-size: 30px;
}

.header-link {
  font-size: 14px;
  color: var(--main-color);
   
}



.header-link:hover::after{
  content: "";
  background-color: var(--main-add-color);
  position: absolute;
  display: block;
  width:100% ;
bottom:10px ;
left: 0px;
  bottom: 0px;
  height: 3px;
  transition: 10s;
}

.header-list-item {
  position: relative;
  overflow: hidden;
  height: 20px;
}

/* .header-list-item > .header-underline{
    display: inline-block;
    background-color: #F38181;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50px;
    transition: top 1s ;
} */

/* .header-list-item:hover > .header-underline{
   cursor: pointer;
    transition: 1s;  
    position: absolute;
    top: 18px;
   right:0px;  
} */

.overlay {
  width: 380px;
  height: 470px;
  position: relative;
  
}

.overlay:hover::after {
  background: linear-gradient(
    135deg,
    rgba(255, 120, 120, 0.6),
    rgba(255, 200, 120, 0.6)
  );
  /* transform: rotateZ(180px) ; */
  opacity: 1;
}

.overlay::after {
  content: "";
  width: 380px;
  height: 470px;
  display: block;
  background: linear-gradient(
    135deg,
    rgba(255, 120, 120, 0.6),
    rgba(255, 200, 120, 0.6)
  );
  transform: translate(-8px, -480px);
  transform: rotateZ(180px);
  transition: 2s;
  opacity: 0;
}

.header-link:hover {
  cursor: pointer;
  transition: 1s;
  color: #f38181;
}

/* .header-underline:hover{
   cursor: pointer;
    transition: 1s;  
    position: absolute;
    top: 30px;
   right:0px;
} */

.services-subtitle{
  font-family: var(--subtitle-font);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--title-color);
  padding-bottom: 20px;
}

.services-title{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: var(--title-color);
  padding-bottom: 109px ;
}

.services-name{
  color: var(--title-color);
}

.services-title::after{
content: "";
display: block;
position: absolute;
height: 4px;
width: 60px;
top: 240px;
left: 700px;
background-color: var(--main-add-color);
}

.services{
  padding: 68px 0 100px 0;
}



.services-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 70px;
}

.services-item{
  display: flex;
  align-items: flex-start;
  gap: 20px;
flex-basis: calc((100% - 140px) / 3);
    /* flex-basis: calc((100% — кіль-сть_відступів_в_рядку * значення_одного_рядка) / кіль-сть_елементів_в_рядку); */
  height: auto;
}
.smaller-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.services-text{
  margin: 0 auto;
  font-size: 15px;
  color: grey;
}

.team{
  padding-bottom:81px ;
}

.team-subtitle{
font-family: kaushan script;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--title-color);
   padding-bottom: 20px;
}

/* .team-item{
  text-align: center;
  padding: 20px;
} */

.team-list{
  display: flex;
  flex-direction: row;
  gap:30px ;
}





.team-title{
    font-weight: 700;
  font-size: 30px;
  text-align: center;  
    color: var(--title-color);
  padding-bottom: 109px ;
}
.team-title::after{
content: "";
display: block;
position: absolute;
height: 4px;
width: 60px;
top: 800px;
left: 700px;
background-color: var(--main-add-color);
}

.team-text {
  text-align: center;
  padding-bottom: 27px;
}

.team-name {
  font-weight: 400;
  font-size: 14px;
  color: var(--title-color);
  text-align: center;
  padding-top: 30px;
padding-bottom: 10px;
}

.team-job {
  font-weight: 300;
  font-size: 15px;
  color: #b6b6b6;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-button {
  width: 150px;
  
  padding: 16px 8px;
  background-color: #95e1d3;
  color: white;
  border: none;
  font-family: var(--main-font);
font-weight: 700;
font-size: 14px;
font-variant: small-caps;
cursor: pointer;
 
}

.footer-input{
  width: 230px;
  color: var(--text-color);
  padding: 16px 8px;
  border-right: none;
  border: var(--main-add-color);
outline: none;
  font-family: var(--second-font);
font-weight: 300;
font-size: 14px;
line-height: 100%;

}

.footer-form{
  display: flex;

}

.footer-container{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-color) ;
  padding-top:10px ;
  
}

/* .footer::before{
  content: "";
  background-color:var(--text-color) ;
  width: 1200px;
  height: 1px;
} */

.footer{
 display: flex;

 flex-direction: row;
padding-bottom:10px ;
}

.footer-copyright{
  color: var(--title-color);
}

.footer-span{
  color: var(--main-add-color);
}

.icons {
  fill: #95e1d3;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
}
